// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2019 James Lind <james@byteporter.com>
 */

/dts-v1/;

#include "suniv-f1c100s.dtsi"
#include <dt-bindings/clock/suniv-ccu-f1c100s.h>
#include <dt-bindings/reset/suniv-ccu-f1c100s.h>

/ {
    model = "Miyoo PocketGo";
    compatible = "miyoo,miyoo-pocketgo", "allwinner,suniv-f1c100s";

    aliases {
        serial1 = &uart1;
    };

    chosen {
        stdout-path = "serial1:115200n8";
    };

    backlight: backlight {
        compatible = "pwm-backlight";
        pwms = <&pwm1 1 58824 0>;
        brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
        default-brightness-level = <5>;
        status = "okay";
    };

    reg_vcc3v3: vcc3v3 {
        compatible = "regulator-fixed";
        regulator-name = "vcc3v3";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
    };
};

&{/soc} {
// This node exists in the miyoo stock device tree but I don't think there's ever actually been a
// 'suniv-dma' binding so I'm not sure what the purpose was. Possibly the 'daemon' program looks for it
// for some reason, but the dma controller doesn't seem to be implemented in any kernel I've seen

    dma: dma-controller@1c02000 {
        compatible = "allwinner,suniv-dma";
        reg = <0x01c02000 0x00001000>;
        #dma-cells = <1>;
    };

    pwm1: pwm@1c21000 {
        compatible = "allwinner,suniv-pwm";
        reg = <0x01c21000 0x00000400>;
        clocks = <&osc24M>;
        #pwm-cells = <3>;
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pwm1_pins>;
    };

    mmc0: mmc@1c0f000 {
        compatible = "allwinner,suniv-f1c100s-mmc", "allwinner,sun7i-a20-mmc";
        reg = <0x01c0f000 0x00001000>;
        clocks = <&ccu CLK_BUS_MMC0>, <&ccu CLK_MMC0>, <&ccu CLK_MMC0_OUTPUT>, <&ccu CLK_MMC0_SAMPLE>;
        clock-names = "ahb", "mmc", "output", "sample";
        resets = <&ccu RST_BUS_MMC0>;
        reset-names = "ahb";
        interrupts = <23>;
        pinctrl-names = "default";
        pinctrl-0 = <&mmc0_pins>;
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        vmmc-supply = <&reg_vcc3v3>;
        bus-width = <4>;
        broken-cd;
    };

    battery0: battery@1c23400 {
        // TODO: Suspicious of all the f1c500s compats, check for code that matches in f1c500s kernel source
        compatible = "allwinner,suniv-f1c500s-battery";
        reg = <0x01c23400 0x00000400>;
        status = "okay";
    };

    codec0: codec@1c22000 {
        // TODO: Again check for the compat string in code, I'm thinking it might have changed for mainline
        compatible = "allwinner,suniv-f1c500s-codec", "allwinner,sun4i-codec";
        clocks = <&ccu CLK_BUS_CODEC>, <&ccu CLK_CODEC>;
        interrupts = <18>;
        status = "okay";
    };

    usb0: usb@1c13000 {
        compatible = "allwinner,suniv-f1c100s-musb";
        reg = <0x01c13000 0x00000400>;
        clocks = <&ccu CLK_BUS_OTG>;
        resets = <&ccu RST_BUS_OTG>;
        interrupts = <26>;
        interrupt-names = "mc";
        phys = <&usb0_phy 0>;
        phy-names = "usb0";
        extcon = <&usb0_phy 0>;
        allwinner,sram = <&otg_sram 1>;
        status = "okay";
        dr_mode = "otg";
    };

    usb0_phy: phy@1c13400 {
        compatible = "allwinner,suniv-f1c100s-usb-phy";
        reg = <0x01c13400 0x00000010>;
        reg-names = "phy_ctrl";
        clocks = <&ccu CLK_USB_PHY0>;
        clock-names = "usb0_phy";
        resets = <&ccu RST_USB_PHY0>;
        reset-names = "usb0_reset";
        #phy-cells = <1>;
        status = "okay";
        //TODO: Double check these gpios, not sure what this is supposed to configure off the top of my head.
        usb0_id_det-gpio = <&pio 4 2 0>;
    };
};

&otg_sram {
    status = "okay";
};

&pio {
    mmc0_pins: mmc-pins {
        pins = "PF0", "PF1", "PF2", "PF3", "PF4", "PF5";
        function = "mmc0";
    };

    uart1_pa_pins: uart1-pa-pins {
        pins = "PA2", "PA3";
        function = "uart1";
    };

    pwm1_pins: pwm1 {
        pins = "PE6";
        function = "pwm1";
    };
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pa_pins>;
    status = "okay";
};

